<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Exemplos Spring MVC</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>Exemplo 02 Spring MVC</h1>
        <p>Mensagem: <span th:text="${mensagem}">Bla bla bla</span></p>
        <p>Número: <span th:text="${numero}">123</span></p>
        <p>Data/hora de acesso: <span th:text="${dataHoraAcesso}">2021-08-31 00:00:00</span></p>
    </body>
</html>
